/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&display=swap");

/* CSS Variables */
:root {
  /* CSS HEX */
  --light-color: #ffffff;
  --primary-color: #008fec;
  --primary-light-color: #00adff;
  --text-color: #212121;
  --text-light-color: #757575;
  --m-size: 1.6rem;
  --l-size: 2rem;
  --xl-size: 3.2rem;
  --xxl-size: 6.4rem;
  --border-radius: 5px;
  --sans: "Oxygen", sans-serif;
  --mono: "Oxygen Mono", monospace;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--m-size);
  background: var(--light-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--primary-color);
  font-weight: 700;
}
a:hover {
  color: var(--primary-light-color);
  text-decoration: none;
}

.container {
  width: min(75%, 80vw);
  margin: 0 auto;
}

/* INTRO */
#intro {
  line-height: 1.5;
  margin-bottom: 10rem;
}
#intro .name {
  font-family: var(--mono);
}

#intro .name span {
  display: block;
  font-size: var(--xxl-size);
  font-family: var(--sans);
  color: var(--primary-color);
  font-weight: bold;
}

#intro h2 {
  font-size: var(--xl-size);
  font-weight: normal;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

#contact .info,
#contact .form {
  flex: 1;
}

#contact .title {
  text-align: center;
  font-size: var(--xl-size);
}

#contact .info address {
  font-style: normal;
}

#contact .info .zalo_qr {
  width: 200px;
  height: 200px;
  border-radius: var(--border-radius);
}

#contact .form .form-group {
  margin: 10px 0;
  font-family: var(--mono);
  color: var(--text-light-color);
}

#contact .form .form-group .form-input {
  display: block;
  width: 100%;
  height: var(--xl-size);
  margin-top: 5px;
  font-family: var(--mono);
  font-size: var(--m-size);
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
}

#contact .form .form-group .form-input:focus {
  outline: none;
  border-color: var(--primary-light-color);
}

#contact .form .form-group select.form-input option {
}
